requests>=2.26.0
python-dotenv>=0.19.0
flask
requests
beautifulsoup4
flask_cors
openai==0.28
blueprint
flask_sqlalchemy
flask_login
Werkzeug==2.3.0
pymysql
tiktoken
redis
apscheduler
datetime
pytz
nanoid