<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>article-test</title>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://hitol.blog.cdn.updev.cn/cdn/summary_gpt.css" />
    <script>
        let summary_gpt_article_content_selector= '.article-content';
        let summary_gpt_key = '123456';
        let summary_gpt_domain = 'http://149.28.243.93:5001';
    </script>
    <script src="{{ url_for('static', filename='summary_gpt.js') }}"></script>

</head>

<body>
    <div>
        文章内容：
        <div class="article-content">
            十年生死两茫茫，不思量，自难忘。千里孤坟，无处话凄凉。纵使相逢应不识，尘满面，鬓如霜。
            <br />
            夜来幽梦忽还乡，小轩窗，正梳妆。相顾无言，惟有泪千行。料得年年肠断处，明月夜，短松冈。
        </div>
    </div>


</body>

</html>